
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Poppins', sans-serif;
}

.mission-statement{
    text-align: center;
    padding: 7rem;
    font-size: 24px;
}

.mission-statement h1{
    font-weight: 400;
}

.red{
    color: #b0203d;
    text-transform: uppercase;
    font-weight: 700;
}

.fa-quote-left {
    position: relative;
    z-index: -1;
    color: rgba(0,0,0,0.4);
    left: 20px;
    bottom: 10px;
    font-size: 3rem;
}

.fa-quote-right{
    position: relative;
    z-index: -1;
    color: rgba(0,0,0,0.4);
    right: 15px;
    bottom: 5px;
    font-size: 3rem;
}

.container{
    margin: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faith, .scholarship, .service{
    border: 2px solid black;
    padding: 5rem;
    box-shadow: 2px 2px 10px black;
}

#facts{
    text-align: center;
}

.fact{
    text-align: center;
    padding: 2rem;
}

/* Thanks abigale */
