
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Poppins', sans-serif;
}

.red{
    color: #b0203d;
    text-transform: uppercase;
    font-weight: 700;
    animation: fadein 2s;
}

.slow{
    animation: fadein 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}

.mission-statement{
    text-align: center;
    padding: 7rem;
    font-size: 24px;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

.mission-statement h1{
    font-weight: 400;
}


.fa-quote-left {
    position: relative;
    z-index: -1;
    color: rgba(0,0,0,0.4);
    left: 20px;
    bottom: 10px;
    font-size: 3rem;
}

.fa-quote-right{
    position: relative;
    z-index: -1;
    color: rgba(0,0,0,0.4);
    right: 15px;
    bottom: 5px;
    font-size: 3rem;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    flex-wrap: wrap;

    /* margin: 4rem;
    display: flex;
    align-items: center; */
}

.card{
    border: 2px solid black;
    margin: 2rem;
    min-height: 500px;
    flex-wrap: wrap;
    position: relative;
    transition: all 1s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card h1 {
    height: 100%;
    padding-top: 100%;
    color: white;
    transition: all 1s ease-in-out;
  }

  .card h1:hover {
    transform: translateY(-30%);
  }

.faith{
    flex-grow: 2;
    background-image: url(/Images/faith.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.scholarship{
    flex-grow: 1.5;
    background-image: url(/Images/science_BW4A2566.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.service{
    flex-grow: 2;
    background-image: url(/Images/naomi.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

#facts{
    text-align: center;
}

.facts-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fact img{
    max-width: 300px;
}

.fact h1, .fact h2, .fact h3{
    text-align: center;
}

/* Thanks abigale */
